.Header{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    width: 97%;
    height:100%;
    align-items: flex-end;
}
.Header h1{
    font-size: 3rem;
    font-weight: 500;
}

.Header .avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-right: 2%; */
    color: #8990AD;
}