.userinfo{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
}
.userinfo .user-pf-name{
    flex:5;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.userinfo .user-pf-name div{
    height: 116px;
    width: 106px;
    background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 20%);
    margin-bottom: 5px;
}
.userinfo .accountInfo{
    flex:3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    
}
.userinfo .accountInfo p{
    color: #11243D;
    font-weight: 600;
}
.userinfo input{
    flex:2;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: #4C88E2;
    color: #fff;
    border: 1px solid #707070;
}