.userinfo{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap: 5%;
}
.userinfo .user-pf-name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* row-gap: 5%; */
}
.userinfo .user-pf-name div{
    height: 136px;
    width: 126px;
    background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 24%);
    margin-bottom: 7%;
}
.userinfo .accountInfo{
    display: flex;
    flex-direction: row;
    column-gap: 13%;
    width: 80%;
}
.userinfo .accountInfo p{
    color: #11243D;
    font-weight: 600;
}
.userinfo input{
    width: 188px;
    height: 53px;
    border-radius: 15px;
    margin-bottom: 1.5%;
    background-color: #4C88E2;
    color: #fff;
    border: 1px solid #707070;
}