.AccountDetails{
    display: flex;
    flex-direction: column;
    /* padding-top: 10%; */
    box-sizing: border-box;
    width:98%;
    margin:auto;
}
h4{
    width: 100%;
    margin-left: 1%;
}

.analytics-1{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 1%;
}
.analytics-1 .numbers{
    margin: 0 0 0 0;
    padding: 3% 0 0 0;
}
.analytics-1 > *{
    flex: 1 1 48%;
}

.topMedia{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 1% 0 1%;
    width:97%;
    margin-right:auto;
}
.topMedia h4{
    padding: 0;
    margin: 10px 0 15px 0;
}
.topMedia > *{
    flex: 1 1 98%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 2% 0;
}