.analyticscontainer {
    display: grid; 
    grid-template-columns: 0.1fr 0.8fr 1.2fr 0.1fr;  
    grid-template-rows: 1fr 3.5fr; 
    gap: 5% 2%; 
    height:100vh;
    width: 85%;
    margin-left:14%;
    grid-template-areas: 
    "AnalyticsPrevPlatform AnalyticsPlatformName AnalyticsPlatformName AnalyticsNextPlatform"
    "AnalyticsPrevPlatform AnalyticsAccountDetails AnalyticsGraph AnalyticsNextPlatform"; 
  }
  .AnalyticsPlatformName { 
    grid-area: AnalyticsPlatformName; 
    text-align: left;
    font-size: 3rem;
    font-weight: 500;
    margin: 6% 0 0 0;
}
  .AnalyticsGraph { 
    grid-area: AnalyticsGraph; 
    height: 80%;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}
  .AnalyticsAccountDetails { 
    grid-area: AnalyticsAccountDetails; 
    height: 80%;
    background-color: white;
    border-radius: 15px;    
}

.AnalyticsPrevPlatform { 
    grid-area: AnalyticsPrevPlatform;
    display:flex;
    width:100%;
    height: 50%;
    align-self: center;
    justify-content:center;
    align-items: center;
    font-size: 2.5em;

 }
.AnalyticsNextPlatform { 
    grid-area: AnalyticsNextPlatform; 
    display:flex;
    width:100%;
    height: 50%;
    align-self: center;
    justify-content:center;
    align-items: center;
    font-size: 2.5em;
}
.AnalyticsPrevPlatform:hover, .AnalyticsNextPlatform:hover {
    background-color: rgba(0,0,0,0.2);
  }