.navBar{
    font-size: 20px;
    width: 13%;
    height: 100vh;
    box-sizing: border-box;
    border: 5px solid #E4E4E4;
    border-radius: 0 30px 30px 0;
    background-color: #ffffff;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
}
.navBar img{
    width: 36.07px;
    height: 33.41px;
}

.navBar li{
    list-style-type: none;
}
.navBar .active{
    background-color: rgba(76,136,226,0.5);
}

.navBar .NavItem{
    width: 149px;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    border-radius: 31px;
    text-decoration: none;
    color: black;
}

.navBar .Logout{
    margin-top: 20vh;
}